{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <form action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <span class="form-label" id="inputGroup-sizing-sm">Title</span>
            <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <span class="form-label" id="inputGroup-sizing-sm">Initial Bid</span>
            <input type="number" min="1" name="initialBid" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <label for="basic-url" class="form-label">URL for image</label>
        <div class="input-group mb-3">
        <input type="text" name="url" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

        <label for="exampleDataList" class="form-label">Category</label>
        <input class="form-control" name="category" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
        <option value="Fashion">
        <option value="Toys">
        <option value="Electronics">
        <option value="Home">
        </datalist>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
{% endblock %}
