{% extends "auctions/layout.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'auctions/listing_page.css' %}">

{% block body %}

<div class="container ms-0">
    <div class="row">
        <div >
            <div>
                <h1 class="my-3">
                    <strong>
                    Listing: {{item.title}}
                    </strong>
                </h1>
                {% if user.is_authenticated %}
                    {% if watchListItem %}
                        <a href="{% url 'removeFromWatchlist' item.id %}">
                            <button type="button" class="btn btn-secondary btn-sm rounded-pill">Remove</button>
                        </a>
                    {% else %}
                        <a href="{% url 'addToWatchlist' item.id %}">
                            <button type="button" class="btn btn-secondary btn-sm rounded-pill">Add</button>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="my-3">
                <img class="img-fluid" src="{{item.link}}" alt="">
            </div>
            <div class="my-3">
                {{item.description}}
            </div>
            <div class="my-3">
                <p>
                    {{item.initialBid}} bid(s) so far. Your bid is current bid.
                </p>
                <div>
                    {% if user.is_authenticated %}
                        <form action="{% url 'add_bid' item.id  %}" method="post">
                            {% csrf_token%}
                            <div class="input-group mb-3">
                                <button class="btn btn-outline-primary" type="submit" id="button-addon1">Place Bid</button>
                                <input type="number" name="bid" class="form-control" placeholder="Enter Bid" aria-label="Example text with button addon" aria-describedby="button-addon1" min="{{item.initialBid}}">
                            </div>
                        </form>
                    {% endif %}
                    {% if errorgreen %}
                        <div class="alert alert-success" role="alert">
                            {{errorgreen}}
                        </div>
				    {% endif %}
                    <div>
                        {% if user.is_authenticated %}
                            {% if owner %}
                            <a href="{% url 'close_bid' item.id %}">
                                <button type="button" name="closebid" class="btn btn-primary">
                                    Close Bid
                                </button>
                            </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="my-3">
                <h6 class="my-3">
                    <strong>Details</strong>
                    <ul>
                        <li>Listed by: {{item.owner}}</li>
                        <li>Category: {{item.category}}</li>
                    </ul>
                </h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}
