{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1>All Posts</h1>
{% for post in page_obj.object_list %}
    <div class="container form-container">
        <strong><a href="{% url 'profile_page' post.user.username %}">{{ post.user.username }}</a></strong> <br>
        <div class="fw-light">
            {{ post.body }} <br>
            {{ post.timestamp }} <br>
            <i class="fa fa-heart" style="font-size:15px;color:red"></i>
            {{ post.number_of_likes }} <br>
        </div>
    </div>
{% endfor %}


<nav aria-label="Page navigation example">
    <ul class="pagination pagination-container">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        {% comment %} <span class="current"> {% endcomment %}
        <li class="page-item">
            <span class="page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
