.form-container {
    position: relative;
    left: 0px;
    margin: 1%;
    padding: 1%;
    border: 1px solid #00000021;
}

.pagination-container {
    position: relative;
    margin: 1%;
}

.bold-text {
  font-weight: bold;
}
